//Design System Colors

// Colors
$white: #ffffff;
$white-smoke: #f3f3f3;
$white-cascading: #fbfafa;
$gray-nickel: #939393;
$black: #000000;
$orange-primary: #fb8958;
$orange-secondary: #ffc351;
$green-complementary: #46b8c8;
$green-olive: #a9bc87;
$blue-orion: #3d4f5c;
$blue-january: #00a0b6;
$blue-batch: #8bb5c9;
$purple-lavender: #8b60d3;
